---
import Icon from './Icon.astro';

const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>
			<span data-i18n="footer_created">Created with</span> <a href="https://astro.build/">Astro</a> & AI
			<Icon icon="rocket-launch" size="1.2em" />
		</p>
		<p>&copy; {currentYear} <span data-i18n="footer_copyright">大鹿ニク / M1RA</span></p>
	</div>
	<p class="socials">
		<a href="https://x.com/M1RA_A_Project"> X (Twitter)</a>
		<a href="http://www.youtube.com/@M1RA_Archive_Project"> YouTube</a>
		<a href="https://note.com/m1ra_project"> Note</a>
		<a href="https://github.com/Nikunikuo"> GitHub</a>
	</p>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
